export DEVISE_SECRET_KEY=b4eccd36d4491d66f2307671a0cfd01d9dd7cd2d24359f8885c0c4d4850339bfe08d82932562c9ad5d4a189e3c301bba8ff86efbecedc67c40abec80658e66bd
export RDS_DB_NAME=ebdb
export RDS_USERNAME=tastebud
export RDS_PASSWORD=tastebud
export RDS_HOSTNAME=aarl7b5lcnpggw.c9c0u7zdtbet.us-east-1.rds.amazonaws.com
export RDS_PORT=3306
export SECRET_KEY_BASE=tastebud
