<div class="row">
  <div class="recipe-card small-4 columns">
    <img class="recipe-image" src="http://www.stmatthewseugene.com/Food_Pantry.jpg">
    <div class="recipe-title">
      Awesome Vegetarian Meal
    </div>
    <div class="recipe-action">
      <div class="dislike small-6 columns">
        <a href="#">X</a>
      </div>
      <div class="like small-6 columns">
        <a href="#">Like</a>
      </div>
    </div>
  </div>
</div>
