<div class="row">
  <div class="initialMessage small-12 columns">
    <h2 class='text-center'>Start Building Your Taste Profile!</h2>
    <span class="close text-justify">
      The more feedback you give us, the more accurate your taste profile will be.  See something you like, click “Try” to add it to your saved recipes!  See something you don’t like, trash it and never see that recipe suggested again.  *Something about how we learn your taste.*
    </span>
  </div>
</div>
