<div class="recipe-b-image">
  <%= link_to image_tag(card["largeImage"]), "http://www.yummly.com/recipe/#{card["id"]}" %>
</div>
<div class="recipe-name">
  <%= card["recipeName"] %>
</div>
  <div class="recipe-action">
    <%= link_to "Trash", users_trash_path(recipe_id: card["id"], recipe_name: card["recipeName"],
    recipe_url:card["id"], recipe_large_image: card["largeImage"]), method: :post, :class=> 'like small-6 columns js-trash' %>
    <%= link_to "Try", users_try_path(recipe_id: card["id"], recipe_name: card["recipeName"],
    recipe_url:card["id"], recipe_large_image: card["largeImage"]), method: :post, :class=> 'like small-6 columns js-like' %>
  </div>
