<div class="suggestedRecipe">

  <div class="eachRecipe">

    <div class="each-image">

    </div>

    <div class="each-title">

    </div>

    <div class="each-action">

    </div>

  </div>

</div>
