<%= render 'topbar' %>

<div id="messageContainer"><%=render 'initialMessage' %></div>
<div id="recipeContainer"><%= render 'recipeCard', card: @response.first %></div>


TODO:
// When recipe trashed, remove from DOM
// Show loading icon
// Option to trash on saved recipes page
// Truncate recipe name
// Browse Suggested button topbar
// Search bar topbar
// Filters inline
// On hover show ingredients
// Link logo image to homepage
// Button to load more recipes
