<%= render 'topbar' %>

<div id="messageContainer"><%=render 'initialMessage' %></div>
<div id="recipeContainer"><%= render 'recipeCard' %></div>
<div id="likedRecipes"><%= render 'likedRecipes' %></div>



TODO:
// Toggle topbar to sidebar after 10 selections
// List of suggested recipes slides up
// Single recipe suggestion to daily suggestion page?  Or at top everyday?
// Single recipe slides to the right to reveal new recipe.
// When recipe trashed, remove from DOM
// Show loading icon
// On liked recipes page, option to trash or love (and/or rate 5 forks or something)
