
<%= render 'topbar' %>

<h1 class="text-center">Suggested Recipes</h1>

<div class="row">
  <% 9.times.each do |n = 0|%>
  <div class="recipe-card small-4 columns">
    <div class="recipe-image liked">
      <%= link_to image_tag(@response[n]["largeImage"]), "http://www.yummly.com/recipe/#{@response[n]["id"]}" %>
      <div class="score text-center"><%= @response[n]["recommendation_score"] %></div>
    </div>
    <div class="recipe-title liked">
      <%= @response[n]["recipeName"] %>
    </div>
    <% n += 1 %>
  </div>
  <% end %>
</div>


<form action=recipe_list method="GET">
  <input type="checkbox" name="filters[]" value="dairy" id="dairy">
  <label for="dairy">dairy</label>
  <input type="checkbox" name="filters[]" value="egg" id="egg">
  <label for="egg">egg</label>
  <input type="checkbox" name="filters[]" value="gluten" id="gluten">
  <label for="gluten">gluten</label>
  <input type="checkbox" name="filters[]" value="sesame" id="sesame">
  <label for="sesame">sesame</label>
  <input type="checkbox" name="filters[]" value="soy" id="soy">
  <label for="soy">soy</label>
  <input type="checkbox" name="filters[]" value="sulfite" id="sulfite">
  <label for="sulfite">sulfite</label>
  <input type="checkbox" name="filters[]" value="nut" id="nut">
  <label for="nut">nut</label>
  <input type="checkbox" name="filters[]" value="wheat" id="wheat">
  <label for="wheat">wheat</label>
  <input type="checkbox" name="filters[]" value="lacto" id="lacto">
  <label for="lacto">lacto</label>
  <input type="checkbox" name="filters[]" value="ovo" id="ovo">
  <label for="ovo">ovo</label>
  <input type="checkbox" name="filters[]" value="pescetarian" id="pescetarian">
  <label for="pescetarian">pescetarian</label>
  <input type="checkbox" name="filters[]" value="vegan" id="vegan">
  <label for="vegan">vegan</label>
  <input type="checkbox" name="filters[]" value="vegetarian" id="vegetarian">
  <label for="vegetarian">vegetarian</label>
  <input type="checkbox" name="filters[]" value="paleo" id="paleo">
  <label for="paleo">paleo</label>
  <input type = "text" name="search">
  <input type="submit">
  </form>
