<div class="row">
 <ul class="side-nav large-4 columns" role="navigation">
   <ul class="dietary-preference">
     <li><label>Dietary Preference</label></li>
     <li><label for="paleo"><input id="paleo" type="checkbox">Paleo</label></li>
     <li><label for="lacto-vegetarian"><input id="lacto-vegetarian" type="checkbox">Lacto Vegetarian</label></li>
     <li><label for="ovo-vegetarian"><input id="ovo-vegetarian" type="checkbox">Ovo Vegetarian</label></li>
     <li><label for="prescetarian"><input id="prescetarian" type="checkbox">Prescetarian</label></li>
     <li><label for="vegan"><input id="vegan" type="checkbox">Vegan</label></li>
     <li><label for="vegetarian"><input id="vegetarian" type="checkbox">Vegetarian</label></li>
   </ul>

   <li class="divider"></li>

   <ul class="food-allergies">
     <label>Food Allergies</label>
     <li><label for="dairy"><input id="dairy" type="checkbox">Dairy</label></li>
     <li><label for="egg"><input id="egg" type="checkbox">Egg</label></li>
     <li><label for="gluten"><input id="gluten" type="checkbox">Gluten</label></li>
     <li><label for="peanut"><input id="peanut" type="checkbox">Peanut</label></li>
     <li><label for="seafood"><input id="seafood" type="checkbox">Seafood</label></li>
     <li><label for="sesame"><input id="sesame" type="checkbox">Sesame</label></li>
     <li><label for="soy"><input id="soy" type="checkbox">Soy</label></li>
     <li><label for="sulfite"><input id="sulfite" type="checkbox">Sulfite</label></li>
     <li><label for="tree-nut"><input id="tree-nut" type="checkbox">Tree Nut</label></li>
     <li><label for="wheat"><input id="wheat" type="checkbox">Wheat</label></li>
   </ul>
 </ul>
</div>
