
 <ul class="side-nav small-2 columns" role="navigation" title="Link List">

   <li role="menuitem"><a href="#">Suggested Recipes</a></li>
   <li role="menuitem"><a href="#">My Saved Recipes</a></li>

   <li class="divider"></li>

   <li role="menuitem"><%= link_to "Edit Profile", edit_user_registration_path %></li>
 </ul>
