
 <ul class="side-nav small-2 columns" role="navigation" title="Link List">
   <li role="menuitem"><a href="#">Suggested Recipes</a></li>
   <li role="menuitem"><a href="#">My Recipes</a></li>
   <li role="menuitem"><a href="#">Taste Profile</a></li>
   <li role="menuitem"><a href="#">Account Settings</a></li>
 </ul>
