<%= render 'topbar' %>

<div class='row'>
<div class="main-message small-12 columns">
  <span>This is the message about building profile.</span>
</div>
</div>

<%= render '/recipes/recipeCard' %>


<a href="#" data-reveal-id="myModal">Click Me For A Modal</a>
