// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-message {
  background-color: red;
  padding: 5em;
  font-size: 1.2em;
}

.top-bar {
  border-bottom: 2px solid grey;
  color: black;
}

// .recipe-b-image {
//   height: 350px;
//   overflow: hidden;
//   line-height: 3em;
// }
//
// .recipe-b-image img{
//   vertical-align: middle;
// }

.recipe-name {
  padding: 1em;
  text-align: center;
  background-color: white;
}

.top-bar img {
  width: 60%;
}

.home-container {
  background-color: #1695A3;
  height: 1000px;
  width: 100%;
  text-align: center;
}

.home-container img {
  width: 30%;
  margin-top: 4em;

}
