// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-message {
  background-color: red;
  padding: 5em;
  font-size: 1.2em;
}

.top-bar {
  border-bottom: 2px solid grey;
  color: black;
}
