body {
  font-family: 'Raleway';
  background-color: #EFECCA;
}

.testContainer {
  height: 600px;
  align: right;
  // background-color: red;
  background: no-repeat;
  background-size: contain;
  position: relative;
  -webkit-box-shadow: 3px 3px 14px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 14px -2px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 14px -2px rgba(0,0,0,0.75);
}

.test-card {
  height: 550px;
  padding: 0;
  background-color: white;
  font-size: 1.2em;
  position: absolute;
  top: 1em;
  left: 1em;
  -webkit-box-shadow: 3px 3px 14px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 14px -2px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 14px -2px rgba(0,0,0,0.75);
}

.test-title {
  font-size: 1.5em;
  margin-top: .5em;
  padding: 1em;
}

.test-ingredients {
  font-size: .7em;
  line-height: 1em;
  text-align: center;
  margin-top: 1em;
}

.test-ingredients p {
  margin-bottom: 0;
}



.recipe-card {
  border: 1px solid grey;
  padding: 0;
  border-radius: .3em;
  -webkit-box-shadow: 3px 3px 14px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 14px -2px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 14px -2px rgba(0,0,0,0.75);
  background-color: #353334;
  position: relative;
}

.recipe-image {
  height: 300px;
  position: relative;
  background: no-repeat;
  background-size: cover;
}

.recipe-image img {
  // max-height: 300px;
}

.recipe-title  {
  padding: 1.2em;
  border-bottom: 2px solid grey;
  text-align: center;
  font-size: 1.5em;
  // color: #7f8c8d;
  background-color: white;
  letter-spacing: .2em;

}

.recipe-action {
  text-align: center;
}

.like, .dislike{
  padding: 1.4em;
  background-color: #1695A3;
  font-size: 1.2em;
  color: white;
}

.dislike {
  position: relative;
}

.dislike:after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: -0%;
    height: 100%;
    border-right: 1px solid grey;
}

#recipeContainer {
  margin-top: 3em;
  text-align: center;
}

.score {
  border: 2px solid grey;
  border-radius: 360px;
  font-size: 3em;
  padding: .2em 0 .2em 0;
  width: 2em;
  position: absolute;
  bottom: -.8em;
  right: -.2em;
  background-color: white;
  color: black;
  -webkit-box-shadow: 3px 3px 14px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 3px 14px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 14px -2px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 14px -2px rgba(0,0,0,0.75);
  z-index: 199;
}
