body {
  font-family: 'Raleway';
  background-color: #e7e7e7;
}

.recipe-card {
  border: 1px solid grey;
  padding: 0;
  border-radius: .3em;
  -webkit-box-shadow: 3px 3px 14px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 14px -2px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 14px -2px rgba(0,0,0,0.75);
  background-color: #353334;
  position: relative;
}

.recipe-image {
  height: 300px;
  position: relative;
  background: no-repeat;
  background-size: cover;
}

.recipe-name  {
  margin: 1em 0;
  padding: .0 1.5em .0 1.5em;
  text-align: center;
  font-size: 1.5em;
  // color: #7f8c8d;
  background-color: white;
  letter-spacing: .2em;
  font-weight: bold;
  height: 75px;
  overflow: hidden;
}

.recipe-action {
  text-align: center;
}

.like, .dislike{
  padding: 2em;
  background-color: #1695A3;
  font-size: 1.2em;
  color: white;
}

.dislike {
  position: relative;
}

.dislike:after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: -0%;
    height: 100%;
    border-right: 1px solid grey;
}

#recipeContainer {
  margin-top: 3em;
  text-align: center;
}

// .score {
//   border: 2px solid grey;
//   border-radius: 360px;
//   font-size: 3em;
//   padding: .2em 0 .2em 0;
//   width: 2em;
//   // position: absolute;
//   bottom: -.8em;
//   right: -.2em;
//   background-color: white;
//   color: black;
//   -webkit-box-shadow: 3px 3px 14px -2px rgba(0,0,0,0.75);
//   -webkit-box-shadow: 3px 3px 14px -2px rgba(0,0,0,0.75);
//   -moz-box-shadow: 3px 3px 14px -2px rgba(0,0,0,0.75);
//   box-shadow: 3px 3px 14px -2px rgba(0,0,0,0.75);
//   z-index: 199;
//     margin-top: -100px;
//   display: block;
// }

.browse-recipes .score,
.my-recipes  .score {
  display: none;
}
