<!DOCTYPE html>
<html>
<head>
  <title>TasteBuddy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">



<!--MODAL FOR LOGIN -->
  <div id="myModal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

<!--CONTAINS PAGE -->
<div class="container">
    <%= yield %>
</div>

</div>

</body>
</html>
